/*
Theme Name:   Twenty Twenty Child
Description:  This theme is dedicated for DinJob Job Posting
Author:       tipsgiver.com
Template:     twentytwenty
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  twenty-twenty-child
*/

/* Write here your own personal stylesheet */
@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/subset-Ubuntu-Bold.eot');
    src: url('assets/fonts/subset-Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-Ubuntu-Bold.woff2') format('woff2'),
        url('assets/fonts/subset-Ubuntu-Bold.woff') format('woff'),
        url('assets/fonts/subset-Ubuntu-Bold.ttf') format('truetype'),
        url('assets/fonts/subset-Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/subset-Ubuntu-BoldItalic.eot');
    src: url('assets/fonts/subset-Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-Ubuntu-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/subset-Ubuntu-BoldItalic.woff') format('woff'),
        url('assets/fonts/subset-Ubuntu-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/subset-Ubuntu-BoldItalic.svg#Ubuntu-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/subset-Ubuntu-Regular.eot');
    src: url('assets/fonts/subset-Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-Ubuntu-Regular.woff2') format('woff2'),
        url('assets/fonts/subset-Ubuntu-Regular.woff') format('woff'),
        url('assets/fonts/subset-Ubuntu-Regular.ttf') format('truetype'),
        url('assets/fonts/subset-Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/subset-Ubuntu-LightItalic.eot');
    src: url('assets/fonts/subset-Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-Ubuntu-LightItalic.woff2') format('woff2'),
        url('assets/fonts/subset-Ubuntu-LightItalic.woff') format('woff'),
        url('assets/fonts/subset-Ubuntu-LightItalic.ttf') format('truetype'),
        url('assets/fonts/subset-Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/subset-Ubuntu-MediumItalic.eot');
    src: url('assets/fonts/subset-Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-Ubuntu-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/subset-Ubuntu-MediumItalic.woff') format('woff'),
        url('assets/fonts/subset-Ubuntu-MediumItalic.ttf') format('truetype'),
        url('assets/fonts/subset-Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/subset-Ubuntu-Italic.eot');
    src: url('assets/fonts/subset-Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/ubset-Ubuntu-Italic.woff2') format('woff2'),
        url('assets/fonts/subset-Ubuntu-Italic.woff') format('woff'),
        url('assets/fonts/subset-Ubuntu-Italic.ttf') format('truetype'),
        url('assets/fonts/subset-Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/ubset-Ubuntu-Light.eot');
    src: url('assets/fonts/subset-Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-Ubuntu-Light.woff2') format('woff2'),
        url('assets/fonts/subset-Ubuntu-Light.woff') format('woff'),
        url('assets/fonts/subset-Ubuntu-Light.ttf') format('truetype'),
        url('assets/fonts/subset-Ubuntu-Light.svg#Ubuntu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/subset-Ubuntu-Medium.eot');
    src: url('assets/fonts/subset-Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-Ubuntu-Medium.woff2') format('woff2'),
        url('assets/fonts/subset-Ubuntu-Medium.woff') format('woff'),
        url('assets/fonts/subset-Ubuntu-Medium.ttf') format('truetype'),
        url('assets/fonts/subset-Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
body {
    font-family: Ubuntu, sans-serif;
    background: #f5efe000;
}
h1, h2, h3, h4, h5, h6, .faux-heading {
	font-feature-settings: unset;
	font-variant-numeric: unset;
	font-weight: 700;
	/* letter-spacing: -0.0415625em; */
	/* line-height: 1.25; */
}
.entry-content, .entry-content p, .entry-content ol, .entry-content ul, .entry-content dl, .entry-content dt {
	font-family: "Ubuntu",arial,sans-serif;
    letter-spacing: normal;
    font-size: 1.4rem;
    font-weight: 300;
}
.entry-content button.show-more-less-html__button {
    display: none;
}
.entry-header .company_image {
	display: block;
	width: 100px;
	height: 70px;
	float: left;
        background-size: cover;
}
.section-inner.medium {
	max-width: 58rem;
	text-align: left;
}
.entry-header p {
	font-size: 14px;
	color: #686565;
	margin: 0;
}
.archive-title .by-who {
	display: block;
	font-size: 2rem;
	font-weight: 300;
	background: #ddd0;
}
.archive-subtitle p {
	color: #fff;
}
h2.heading-size-6 {

    margin: 0;
    font-size: 1rem;

}
.job-info {
	background: #dfdfdf;
	padding: 20px 0;
}
.job-info:after {
    content: "";
    display: block;
    clear: both;
}
.col {
    width: 50%;
    display: block;
}
.left {
    float: left;
}
.right {
    float: right;
}
.post-inner {
	padding-top: 0rem;
}
.job-header a,
.job-header p {
	color: #000 !important;
}
.singular .entry-header {
	padding: 1rem 0;
}
hr {
	margin: 1rem 0;
}
li {
    font-size: 1.4rem;
}
.job-field p {
    margin: 0;
}
.job-info .job-field:not(:last-child) p {
    margin: 0 0 20px;
}
.widget-area {
    padding: 2rem;
    background: #dfdfdf;
}
.post-meta-wrapper {
    max-width: 100%;
}
.entry-content > .alignleft, .entry-content > p .alignleft, .entry-content > .wp-block-image .alignleft,
.entry-content > .alignright, .entry-content > p .alignright, .entry-content > .wp-block-image .alignright {
    position: relative;
    max-width: 100%;
    left: 0;
}
.entry-content > .alignleft, .entry-content > p .alignleft, .entry-content > .wp-block-image .alignleft {
    margin-left: 2rem;
    float: left;
}
.entry-content > .alignright, .entry-content > p .alignright, .entry-content > .wp-block-image .alignright {
    margin-right: 2rem;
    float: right;
}
@media ( min-width: 700px ) {

    .single-jobs .entry-header {
        padding: 4rem 0;
        background: #000;
    }
    .entry-title.heading-size-5 {
        color: #fff;
        font-weight: 400;
    }
    .single-jobs .job-header a,
    .single-jobs .job-header p {
        color: #d2d2d2 !important;
    }

    h2.entry-title {
        font-size: 2.4rem;
    }
    hr {
        margin: 2rem auto;
    }
    .archive-header {
        padding: 1rem 0;
        background: #151515;
            margin-bottom: 8rem;
    }
    .archive-title {
        color: #fff;
    }
    body:not(.singular) main > article:first-of-type {
        padding: 0;
    }
    .section-inner.medium {
        max-width: 120rem;
    }
    .entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
        max-width: 120rem;
        width: calc(100% - 8rem);
    }
    .entry-content > .job-info {
        width: 100% !important;
    }
    .site {
        display: grid;
        grid-template-columns: auto 33%;
        grid-template-areas: "main sidebar";
    }
    .widget-area {
        padding: 4rem;
    }
    .entry-content > .alignleft, .entry-content > p .alignleft, .entry-content > .wp-block-image .alignleft {
        margin-left: 4rem;
    }
    .entry-content > .alignright, .entry-content > p .alignright, .entry-content > .wp-block-image .alignright {
        margin-right: 4rem;
    }
}
article.jobs {
    margin-bottom: 50px;
}
